.playlist_title {
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: 400;
    text-transform: lowercase;
}

.playlist_image {
    background-color: var(--color-light);
    border-radius: 4px !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
}

.imageBtn {
    cursor: pointer;
    padding: 10px;
    width: 300px;
    height: 300px;
    max-height: 300px;
    max-width: 300px;
    float: right;
}
