.playlist_title {
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: 400;
}
.playlist_image {
    background-color: var(--color-light);
    border: 20px !important;
    border-color: var(--color-secondary) !important;
    border-radius: 4px !important;
    height: 50vh;
    width: 50vh;
    max-height: 500px;
    max-width: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#imageBtn {
    cursor: pointer;
    padding: 10px;
}

.playlist {
    position: relative;
    bottom: 0;
    height: 70vh;
    width: 100%;
    background-color: var(--color-light);
    border-bottom: 1px solid #aaa;
    z-index: 10;
}

.playlist_list {
    color: var(--color-dark);
    padding-left: 0px;
    width: 100%;
    height: 400px;
    max-width: 700px;
    overflow-x: hidden;
    overflow-y: scroll;
}

li {
    background-color: var(--color-light);
    transition: 0.2s;
}

    li:hover {
        color: var(--color-secondary);
        cursor: pointer;
    }

.list-item-active {
    color: var(--color-secondary);
}

/*
__________________________
Playlist scrollbar
__________________________
*/

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: black;
}

::-webkit-scrollbar-thumb {
    background: var(--color-secondary);
}

    ::-webkit-scrollbar-thumb:hover {
        background: var(--color-secondary);
    }

/*
__________________________
Responsive settings
__________________________
*/

@media (max-width: 991px) {
    .playlist {
        height: 80vh;
        padding-top: 1rem;
    }

    .playlist_box {
        height: 50%;
    }

    .playlist_list {
        max-width: 100%;
    }
}