@page "/explore"
@inject IPlaylistService playlistService;

<div class="playlist_category">
    @foreach(var playlist in Playlists)
    {
        <div class="imageBtn">
            <div class="playlist_image" style='background-image: url("@playlist.CoverUrl")' />
            <h3 class="playlist_title p-2">@playlist.Title</h3>
        </div>
    }
</div>


@code {
    private List<Playlist> Playlists { get; set; }

    protected override void OnInitialized()
    {
        Playlists = playlistService.GetPlaylists();
    }
}