.playlist_title {
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: 400;
    text-transform: lowercase;
}

.playlist_image {
    background-color: var(--color-light);
    border-radius: 4px !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
    width: 200px;
}

.imageBtn {
    cursor: pointer;
    padding: 10px;
    float: right;
    width: 300px;
    height: 300px;
    flex: 0 0 auto;
}

.playlist_category {
    display: inline-block;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 1vh;
    margin-bottom: 1vh;
    display: flex;
}