@page "/"

<div class="page-background-class">
     <div class="message content-vertical-center h-fill">
         <span class="m-sm-5 m-2">Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum</span>
      </div>
</div>