@page "/"

<div class="page-background-class">
    <div class="message content-vertical-center h-fill">
        <h1 class="ml-sm-5 m-2">Workfulness</h1>
        <span class="ml-sm-5 m-2 slogan">full of work <br> full of passion</span>
    </div>
</div>