.page-background-class {
    background-image: url("photos/white_background.jpg");
    height: 100vh;
    width: 100%;
    background-position: left top;
    background-repeat: no-repeat;
    background-size: cover;
}

.message {
    color: var(--dark);
    font-size: xx-large;
    position: center;
}
