h2 {
    font-size: 26px;
}

h3 {
    font-size: 16px;
    font-weight: 400;
}

.background {
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100%;
    background-color: var(--color-dark);
    opacity: 0.7;
    z-index: 5;
}

.audio-player {
    width: 100%;
    background-color: var(--color-light);
    box-sizing: border-box !important;
    color: #222;
    z-index: 10;
}

/*
__________________________
Song panel
__________________________
*/

.song_panel {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    transition: all 0.2s;
}

.song_info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}

.song_timeleft {
    color: #333;
    letter-spacing: 2px;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 10px;
    color: grey;
}

.progressbar_slide {
    width: 100%;
}

    .progressbar_slide input[type="range"] {
        -webkit-appearance: none;
        height: 5px;
        width: 100%;
        outline: none;
        background-color: var(--color-dark);
    }

        .progressbar_slide input[type="range"]::-webkit-slider-thumb {
            -webkit-appearance: none;
            height: 30px;
            width: 30px;
            background: var(--color-secondary);
            border-radius: 50%;
            cursor: pointer;
        }

/*
__________________________
Song controls
__________________________
*/

.song_controls {
    display: flex;
    width: 100%;
    max-width: 700px;
    box-sizing: border-box;
    transition: all 0.2s;
}

.controls_plays {
    flex: 2;
    display: flex;
    justify-content: space-around;
}

.controls_player {
    flex: 1;
    fill: #7fe5a3;
    display: flex;
    justify-content: space-around;
}

#prev_btn, #play_btn, #pause_btn, #next_btn {
    cursor: pointer;
    padding: 10px;
}

    #prev_btn:hover, #play_btn:hover, #pause_btn:hover, #next_btn:hover {
        color: #565349;
    }

#extends_btn {
    cursor: pointer;
    padding: 10px;
    position: absolute;
    top: 1rem;
    right: 2rem;
}

    #extends_btn:hover {
        color: #565349;
    }

/*
__________________________
Playlist
__________________________
*/

.playlist {
    position: relative;
    bottom: 0;
    height: 70vh;
    width: 100%;
    background-color: var(--color-light);
    border-bottom: 1px solid #aaa;
    z-index: 10;
}

.playlist_image {
    background-color: var(--color-light);
    height: 50vh;
    width: 50vh;
    max-height: 500px;
    max-width: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.playlist_list {
    color: var(--color-dark);
}

.scroll_playlist {
    height: 80%;
    color: black;
    padding-left: 0px;
    width: 100%;
    height: 400px;
    max-width: 700px;
    overflow-x: hidden;
    overflow-y: scroll;
}

li:hover {
    color: #89cac7;
    cursor: pointer;
    /*background-color: #89cac7;*/
}

nav {
    background-color: transparent;
    color: white;
}

/* Width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: black;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #89cac7;
}

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #89cac7;
    }

@media (max-width: 991px) {
    .playlist_box {
        height: 50%;
    }
}