<div class="top-row navbar navbar-dark">
    <a class="navbar-brand" href="">Workfulness</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="explore" Match="NavLinkMatch.All">
                Explore
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="pomodoro" Match="NavLinkMatch.All">
                Pomodoro
            </NavLink>
        </li>
        <AuthorizeView>
            <Authorized>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="todo" Match="NavLinkMatch.All">
                        ToDo
                    </NavLink>
                </li>
                <li class="nav-item px-3 pt-3">
                    <NavLink class="nav-link btn-success" href="auth/logout" Match="NavLinkMatch.All">
                        Logout
                    </NavLink>
                </li>
            </Authorized>
            <NotAuthorized>
                <li class="nav-item px-3 pt-3">
                    <NavLink class="nav-link btn-success" href="auth/login" Match="NavLinkMatch.All">
                        Login
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link btn-success" href="auth/register" Match="NavLinkMatch.All">
                        Register
                    </NavLink>
                </li>
            </NotAuthorized>
        </AuthorizeView>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
