@inject IPomodoroTimer counter;
@inject NavigationManager navigationManager;

@if (counter.HasRun && !_IsOnPomodoroPage && !_IsOnToDoPage)
{
    <div @onclick="GoToPomodoroMainPage">
        <div class="@Color timeOnTooltip p-4 text-center">@counter.ShortTime</div>
    </div>
}

@code{
    public string Color { get; set; } = "colorRed";
    protected override void OnInitialized()
    {
        counter.OnTick += () => { StateHasChanged(); };
        counter.OnWorkStarted += () => { Color = "colorRed";  };
        counter.OnShortBreakStarted += () => { Color = "colorBlue";};
        counter.OnLongBreakStarted += () => { Color = "colorBlue"; };
    }

    public void GoToPomodoroMainPage()
    {
        navigationManager.NavigateTo($"{navigationManager.BaseUri}pomodoro");
    }

    private bool _IsOnPomodoroPage
    {
        get
        {
            var pomodoroPageUrl = ($"{navigationManager.BaseUri}pomodoro");
            return navigationManager.Uri == pomodoroPageUrl;
        }
    }

    private bool _IsOnToDoPage
    {
        get
        {
            var pomodoroPageUrl = ($"{navigationManager.BaseUri}todo");
            return navigationManager.Uri == pomodoroPageUrl;
        }
    }
}