.timeOnTooltip {
    position: relative;
    top: 0px;
    left: 0px;
    letter-spacing: 4px;
    width: 150px;
    height: 100px;
    background-color: #ff5968 !important;
    border-radius: 12px 0px 0px 12px;
    font-size: x-large;
    font-weight: bold;
    color: white;
}
