@page "/explore"
@inject IPlaylistService playlistService;

@if (isReady)
{
    <div class="explore_container p-3">
        <div class="explore_body p-3">
            @foreach (var playlistGroup in CategorizedPlaylists)
            {
                <PlaylistsSlider
                    Category="@playlistGroup.Category"
                    Playlists="playlistGroup.Playlists.ToList()"
                    SlidesVisible="4">
                </PlaylistsSlider>
            }
        </div>
    </div>
}

@code {
    private bool isReady { get; set; } = false;
    List<PlaylistGroup> CategorizedPlaylists { get; set; }

    protected override async Task OnInitializedAsync()
    {
        CategorizedPlaylists = await playlistService.GetCategorizedPlaylistsAsync();
        isReady = true;
    }
}
