@page "/pomodoro"
@inject IPomodoroTimer counter;
@inject IAudioPlayer audioPlayer;
@inject IBeepPlayer beepPlayer;


<div class="centerContext mt-5">
    <div>
        <button class="btn btn-primary" @onclick="e => counter.Work()">Work</button>
        <button class="btn btn-warning" @onclick="e => counter.ShortBreak()"> Short break</button>
        <button class="btn btn-warning" @onclick="e => counter.LongBreak()"> Long break</button>
    </div>
    <p class="time p-5 text-center">@counter.ShortTime</p>
    <div>
        <button class="btn btn-success" @onclick="e => counter.StartCount()">Start</button>
        <button class="btn btn-danger" @onclick="e => counter.StopCount()">Stop</button>
    </div>

</div>

@code {
    protected override void OnInitialized()
    {
        counter.OnTick += () => { StateHasChanged(); };
        counter.OnFinished += () => { Beep(); };
    }
    public async void Beep()
    {
        await audioPlayer.Pause();

        var beepUrl = "./songs/alarm.mp3";
        await Task.Delay(1000);
        await beepPlayer.PlayBeep(beepUrl);
       // beepPlayer.BeepHasFinished += async () => { await audioPlayer.Play(); };

    }
}
