@page "/todo"
@inject IToDoService toDoService;

@if (!IsLoading)
{
    <div class="w-100 min-vh-100 box">
        <div class="row h-100">
            <div class="col-12 p-4 todo-parent">
                @if (SelectedList != null)
                {
                    <h1>@SelectedList.Name</h1>
                    @*<label for="taskImput" class="form-label">Please Add Task</label>
                        <input type="text" class="form-control" id="exampleInputText" @bind-value="NewTaskValue" @onsubmit="AddTaskToList">*@

                    <ul class="list-group list-group-flush col-md-9">
                        @foreach (var task in SelectedList.Tasks)
                        {

                            @if (task.Done)
                            {
                                <li class="list-group-item task-item task-done pl-5 pr-5" @onclick="e => ToogleTask(e, SelectedList.Name, task)">
                                    <input class="form-check-input" type="checkbox" value="" aria-label="..." checked />
                                    <i class="fas fa-heart" style="color: red;"></i>
                                    <span class="text-done"> @task.Task</span>
                                </li>
                            }
                            else
                            {
                                <li class="list-group-item task-item pl-5 pr-5" @onclick="e => ToogleTask(e, SelectedList.Name, task)">
                                    <input class="form-check-input" type="checkbox" value="" aria-label="..." />
                                    <span>@task.Task</span>
                                </li>
                            }
                        }
                    </ul>
                    @*  <div class="col-xl-6">
                            <h4>DatePicker</h4>
                            <RadzenDatePicker @bind-Value=@Value DateFormat="d" Change=@(args => OnChange(args, "DatePicker", "MM/dd/yyyy")) />
                        </div>*@
                }
                else
                {
                    <span>No list selected.</span>
                    //TODO: Show invitation bla bla
                }

                <div class="col-md-3 p-0 vh-100 todo-bar">
                    <div class="p-3">
                        <label for="NewListInput" class="form-label text-white"><i class="fas fa-plus"></i> Create New List</label>
                        <input type="text" class="form-control" id="NewListInput" placeholder="List name ..." @bind-value="NewListValue" @onkeydown="async (e) => { await AddList(e); }">
                    </div>
                    <hr />
                    <ul class="list-group list-group-flush todo-lists">
                        @foreach (var list in Lists)
                        {
                            <li class="list-group-item todo-lists-item" @onclick="e => SelectList(e, list.Name)">@list.Name</li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
}

@code{
    private bool IsLoading { get; set; } = true;
    private string NewTaskValue { get; set; } = "";
    private string NewListValue { get; set; } = "";
    ToDoList SelectedList { get; set; }
    List<ToDoList> Lists { get; set; } = new List<ToDoList>();

    DateTime? Value { get; set; } = DateTime.Now;
    IEnumerable<DateTime> Dates { get; set; } = new DateTime[] { DateTime.Today.AddDays(-1), DateTime.Today.AddDays(1) };

    protected override async Task OnInitializedAsync()
    {
        await Refresh();
        if (Lists.Count > 0)
        {
            SelectedList = Lists.First();
        }
        IsLoading = false;
        StateHasChanged();
    }

    private async Task Refresh()
    {
        Lists = await toDoService.GetToDoListsAsync();
        NewTaskValue = "";
        NewListValue = "";
    }

    void OnChange(DateTime? value, string name, string format)
    {
    }

    void AddTaskToList()
    {
    }

    private async Task AddList(KeyboardEventArgs args)
    {
        await Task.Delay(1000);
        if (args.Code == "Enter" && NewListValue != "")
        {
            await toDoService.CreateToDoList(NewListValue);
            await Refresh();
            StateHasChanged();
        }
    }

    private void SelectList(MouseEventArgs args, string name)
    {
        SelectedList = Lists.FirstOrDefault(list => list.Name == name);
    }

    private async Task ToogleTask(MouseEventArgs args, string listname, ToDoTask task)
    {
        task.Done = !task.Done;
        await toDoService.EditTask(listname, task);
        await Refresh();
        StateHasChanged();
    }
}
